@charset "utf-8";
/* CSS Document */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,img,ins,kbd,q,samp,small,strike,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline}
:focus{outline:0}ol,ul{list-style:none}
table{border-collapse:separate;border-spacing:0}
caption,th,td{text-align:left;font-weight:normal}

html{height:100%}

body {
  	background:#FFF;
}

#header{
	background: #347;
	width:900px;
	height:200px;
	margin:0 auto;
}
#headertop {
	height:100px;
}
#headertopleft {
	float:left;
	width:400px;
	margin:10px;
}

#headertopright {
	float:right;
	width:400px;
	margin:10px;	
}

#headerbottom {
	
}

#nav_out {
	float:left;
	background: #333 url(img/bar_r2.gif) top right repeat-y;
}
#nav {
	float: left;
	padding-left:20px;
	width:958px;
	border: 1px solid #A6A6A6;
	border-top:none;
	border-bottom:none;
}
#nav li {
	float: left;
	margin: 0 10px 0 0;
	padding:0;
	font-size: 90%;
}
#nav a {
	float:left;
	display:block;
	padding: 4px 35px 4px 0px;
	color: #000;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	background: url(img/diag.gif) top right no-repeat;
}
#nav a:hover {
	color:#00a8cc;
	text-decoration:underline;
}
