@charset "utf-8";
html, body, blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,img,ins,kbd,q,samp,small,strike,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
#header {
	background: #ccc;
	height: 190px;
}
#header p, #nav a { font-family: "Arial", "Helvetica", sans-serif; }
#headertop {
	background: #334c80 url("../images/header/header_banner.jpg") no-repeat;
	height: 160px;
}
#headertopleft {
	float: left;
	width: 500px;
}
#headertopleft img {
	float: left;
	padding: 10px;
}
#headertopleft #titletext {
	float: right;
	margin-right: 25px;
	margin-top: 30px;
	width: 305px;
}
#headertopleft #titletext h1 {
	font-size: 70px;
	color: #17ABE2;
	font-weight: 100;
}
#headertopleft #titletext p {
	color: #fff;
	padding-left: 5px;
	font-size: 18px;	
}
#headertopright {
	float: right;
	width: 250px;
	margin: 10px;
	margin-top: 45px;	
}
#headertopright #searchbar {
	width: 220px;
	float: right;
	height: 25px;
}
#headertopright #headerlinks {
	float: right;
	padding-right: 20px;
	padding-top: 5px;
	width: 150px;
}
#headertopright #headerlinks img {
	float: right;
	padding: 4px;
}
#headerbottom {
	background: #999;
}
#nav {
	clear: both;
	float: left;
}
#nav li{
	float: left;
	width: 240px;
}
#nav a {
	/*float:left;*/
	color: #000;
	display: block;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
#nav a:hover {
	background: #666;
}
.white { color: #fff; }