body {
	background-color: #ddd;
	font-family: Georgia, serif;
}
h1, h2, h3, h4, h5, h6 { font-family: Ariel, sans-serif; }
p, li {
	font-size: 1.3em;
	padding: 10px;
}
#content ul { margin-left: 25px; }
a { color: #007fff; }
a:hover { text-decoration: underline; }
p { padding: 8px 0 8px 16px; }
#wrapper {
	background-color: #fff;
	margin: 16px auto;
	padding: 16px;
	width: 960px !important;
}
#content {
	clear: both;
	padding: 16px 8px 0 8px;
}
#footer {
	border-top: solid 1px #ccc;
	clear: both;
	margin-top: 24px;
	padding-top: 16px;
	text-align: center;
}
.clear {
	clear: both;
	padding: 0;
}