#main_slider_div {
	border-radius: 10px 10px;
	-webkit-border-radius: 10px 10px;
	width: 960px;
}
#sponsors_div {
	border-radius: 10px 10px;
	-webkit-border-radius: 10px 10px;
	float: left;
	padding: 10px;
	width: 608px;
}
#main_slider {
	height: 518px;
	margin: auto;
}
#sponsors {
	height: 328px;
	margin: auto;
}

.main_sliderPrev {
	background: url(../images/left.gif) no-repeat center center;
	width: 24px;
	height: 24px;
	display: block;
	position: absolute;
	top: 222px;
	left: 10px;
	text-decoration: none;
}
.sponsorsPrev {
	background: url(../images/left.gif) no-repeat center center;
	width: 24px;
	height: 24px;
	display: block;
	position: absolute;
	top: 156px;
	left: 10px;
	text-decoration: none;
}

.main_sliderNext {
	background: url(../images/right.gif) no-repeat center center;
	width: 24px;
	height: 24px;
	display: block;
	position: absolute;
	top: 222px;
	right: 10px;
	text-decoration: none;
}
.sponsorsNext {
	background: url(../images/right.gif) no-repeat center center;
	width: 24px;
	height: 24px;
	display: block;
	position: absolute;
	top: 156px;
	right: 10px;
	text-decoration: none;
}

.main_sliderDescription {
	font-family: Verdana;
	font-size: 10px;
	text-align: left;
	padding: 5px;
}
.sponsorsDescription {
	font-family: Verdana;
	font-size: 10px;
	text-align: left;
	padding: 5px;
}
